nav{
	display:flex;
	width:100%;
	background-color:red;
	
}
.list{
	display:flex;
	width:100%;
	justify-content:space-around;
	align-items:center;
	list-style-type:none;
}
nav>ul>li>a{
	text-decoration:none;
}
h2{
	text-align:center;
}
/* Your CSS Code here. */